<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the server.js file is a Node.js application to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="node_modules/next/dist/bin/next" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^node_modules/next/dist/bin/next/debug[/]?" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="node_modules/next/dist/bin/next start -p %HTTP_PLATFORM_PORT%" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Don't expose server information -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    
    <!-- Define Node.js startup file -->
    <iisnode nodeProcessCommandLine="node" />
    
    <!-- Enable WebSocket support -->
    <webSocket enabled="false" />
  </system.webServer>
</configuration> 