@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground-rgb: 0, 0, 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
